@media (max-width: 970px) {
    .width {
        width: 400px;
    }

    h2 {
        font-size: 56px;
    }
    
    h3 {
        font-size: 14px;
    }
    
    p,
    .standard {
        font-size: 20px;
    }
    
    .phone-number {
        font-size: 48px;
    }

    .mobile-only {
        display: block;
    }

    /* Header */
    header {
        position: static;
        height: 150px;
        transition: none;

        display: grid;
        place-items: center;
    }
    
    .box-shadow {
        box-shadow: none;
    }
    
    .header-content {
        margin: 0;

        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .divider {
        height: 1px;
        width: 100%;
        background-color: white;
    }

    .links {
        width: 100%;
        justify-content: space-evenly;
        gap: 0;
    }

    /* Hero */
    .hero {
        padding-top: 150px;
        margin-top: -150px;
    }

    .hero-content {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        justify-items: center;
    }

    .hero-image {
        aspect-ratio: 1.5;
        grid-row: 2 / 3;
    }

    .order-now {
        margin-bottom: 0;
    }

    .order-online {
        width: 100%;
        height: 50px;
    }
    
    .fa-phone {
        font-size: 36px;
    }

    /* About */
    .about-content {
        --about-image-width: 400px;

        gap: 25px;
    }

    .about-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        aspect-ratio: 2;
    }

    .hours-image {
        display: none;
    }

    .hours-content {
        width: 300px;
    }
}

@media (max-width: 430px) {
    .width {
        width: 350px;
    }

    h2 {
        font-size: 50px;
    }

    .phone-number {
        font-size: 40px;
    }

    .hero {
        --hero-image-width: 350px;
    }

    .hero-content {
        gap: 15px;
    }

    .about-para {
        font-size: 18px;
    }

    .about-content {
        --about-image-width: 350px;
    }
}
