@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

:root {
    --red: #cc0808;
    --red-linear-gradient: linear-gradient(135deg, #740606 0%, #c40808 100%);
    --box-shadow: 0 8px 10px 5px rgba(0, 0, 0, 0.25);
}

.width {
    max-width: 900px;
}

.white {
    color: white;
}

body {
    background-color: #e9ecef;
    overflow-x: hidden;
}

h2 {
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-size: 64px;
    line-height: 0.8;
}

h3 {
    color: var(--red);
    font-size: 18px;
}

p,
.standard {
    font-size: 24px;
}

/* Header */
header {
    background-color: var(--red);
    box-shadow: var(--box-shadow);
    padding: 15px;
    position: sticky;
    top: 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
}

.sub-text {
    font-weight: 400;
    font-size: 14px;
    margin-left: 30px;
}

.logo {
    width: max-content;
}

.links {
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
}
