@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

:root {
    --red: #cc0808;
    --red-linear-gradient: linear-gradient(135deg, #740606 0%, #c40808 100%);
    --box-shadow: 0 8px 10px 5px rgba(0, 0, 0, 0.25);
}

.width {
    width: 900px;
    margin-inline: auto;
}

.white {
    color: white;
}

body {
    background-color: #e9ecef;
    overflow-x: hidden;
}

h2 {
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-size: 64px;
    line-height: 0.8;
}

h3 {
    color: var(--red);
    font-size: 18px;
}

p,
.standard {
    font-size: 28px;
}

.light {
    font-weight: 400;
}

.phone-number {
    font-size: 64px;

    display: flex;
    align-items: center;
}

img {
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    object-fit: cover;
}

/* Header */
header {
    background-color: var(--red);
    box-shadow: var(--box-shadow);
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    height: 105px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.sub-text {
    font-weight: 400;
    font-size: 14px;
    margin-left: 30px;
}

.logo {
    width: max-content;
}

.links {
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
}

/* Hero */
.hero {
    min-height: max-content;
    height: 100vh;
    padding-top: 105px;

    display: grid;
    place-items: center;

    --hero-image-width: 400px;
}

.hero-content {
    display: grid;
    grid-template-columns: var(--hero-image-width) max-content;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.hero-image {
    width: var(--hero-image-width);
    aspect-ratio: 0.9;
}

.order-now {
    margin-top: 15px;
    margin-bottom: -10px;
}

.fa-phone {
    font-size: 48px;
}

/* About */
.about {
    background: linear-gradient(135deg, #740606 0%, #c40808 100%);
    padding: 50px 0;
}

.about-content {
    --about-image-width: 350px;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr var(--about-image-width);
    gap: 25px;
    align-items: center;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-image {
    width: var(--about-image-width);
    aspect-ratio: 1;
}

.hours-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin-left: auto;
    margin-right: calc(var(--about-image-width) - calc(350px / 2));
}

.hours-content {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.hours {
    text-align: end;
}

/* Contact */
.contact {
    padding: 50px 0;
}

.contact-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.contact-header {
    text-align: center;
}

.social-link {
    color: black;
}
