html {
	scroll-behavior: smooth;
}

/* Nav Bar */
.bars-wrapper, .close-wrapper {
	position: fixed;
	left: 25px;
	
	height: 48px;
	aspect-ratio: 1;
	background-color: var(--red);
	border-radius: 50%;
	z-index: 99999;
	box-shadow: var(--box-shadow);

	display: none;
	place-items: center;
}

.bars-wrapper:hover, .close-wrapper:hover {
	cursor: pointer;
}

.close-wrapper {
	display: none;
}

.nav-bar {
	position: fixed;
	right: calc(450px + 50vw);
	top: 0;

	width: max-content;
	padding-right: 50px;
	padding-top: 125px;
	padding-bottom: 30px;
	z-index: 9998;

	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100vh;

	overflow-y: scroll;
  	scrollbar-width: none;
  	-ms-overflow-style: none;
}

.nav-bar::-webkit-scrollbar {
	display: none;
  }

.nav-bar::before {
	content: '';
	position: absolute;
	width: 3px;
	background-color: var(--red);
}

.nav-bar-menu::before {
	height: 552px;
}

.nav-bar-catering::before {
	height: 244px;
}

.menu-nav-link {
	font-size: 20px;
    position: relative;
	left: 15px;
}

.menu-nav-link::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 0;
	height: 3px;
	background-color: var(--red);
	transition: width 500ms;
}

.menu-nav-link:hover::after {
    width: 100%;
}

.menu-nav-link:focus {
    color: #474747;
}

.active::after {
    width: 100%;
}

/* Menu */
.menu-wrapper {
	display: grid;
	grid-template-rows: auto 60vh;

	margin-top: 125px;
}

.phone-wrapper {
	margin: auto;
	padding-block: 25px;
}

.phone-wrapper .order-now {
	margin-top: 0;
}

.menu {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.menu-category {
	border: 3px solid var(--red);
	border-radius: 15px;
	padding: 30px 25px;
	width: 100%;

	scroll-margin-top: 125px;

	display: flex;
	flex-direction: column;
	gap: 20px;
}

.food-row {
	width: 100%;

	display: grid;
	grid-template-columns: max-content 1fr max-content;
	column-gap: 15px;
	align-items: center;
}

.fake-row {
	margin-top: -49px;
}

.food-row-description {
	grid-template-rows: max-content auto;
}

.food-item {
	font-size: 24px;
}

.price-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 70px);
	gap: 20px;
}

.price-wrapper-sml {
	display: grid;
	grid-template-columns: repeat(3, 70px);
	gap: 20px;
}

.price-wrapper-specialty {
	display: grid;
	grid-template-columns: repeat(2, 100px);
	gap: 20px;
}

.menu-divider {
	height: 1px;
	background-color: #B9C1CB;
}

.menu-description {
	grid-row: 2 / 3;
	grid-column: 1 / 3;
	color: #474747;
	font-weight: 300;
}

.served-with {
	margin-top: -20px;
}

/* Toppings */
.toppings-container {
	display: flex;
	gap: 15px;
}

.toppings-list {
	border: 1px solid #B9C1CB;
	border-radius: 15px;
	padding: 15px;
	width: max-content;

	display: grid;
	grid-template-columns: repeat(3, max-content);
	column-gap: 50px;
}

.topping-item {
	font-size: 16px;
}
