html {
	scroll-behavior: smooth;
}

.menu-wrapper {
	margin-top: 125px;
	position: relative;
}

/* Nav Bar */
.nav-bar {
	position: fixed;
	right: calc(450px + 50vw);

	width: max-content;
	padding-right: 50px;

	display: flex;
	flex-direction: column;
	gap: 20px;
}

.nav-bar::before {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	background-color: var(--red);
}

.menu-nav-link {
	font-size: 20px;
    position: relative;
	left: 15px;
}

.menu-nav-link::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 0;
	height: 3px;
	background-color: var(--red);
	transition: width 500ms;
}

.menu-nav-link:hover::after {
    width: 100%;
}

.menu-nav-link:focus {
    color: #474747;
}

.active::after {
    width: 100%;
}

/* Menu */
.menu-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 250px;
}

.menu {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding-bottom: 135px;
}

.menu-category {
	border: 3px solid var(--red);
	border-radius: 15px;
	padding: 30px 25px;
	width: 100%;

	scroll-margin-top: 125px;

	display: flex;
	flex-direction: column;
	gap: 20px;
}

.food-row {
	width: 100%;

	display: grid;
	grid-template-columns: max-content 1fr max-content;
	column-gap: 15px;
	align-items: center;
}

.fake-row {
	margin-top: -49px;
}

.food-row-description {
	grid-template-rows: max-content auto;
}

.food-item {
	font-size: 24px;
}

.price-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 70px);
	gap: 20px;
}

.price-wrapper-sml {
	display: grid;
	grid-template-columns: repeat(3, 70px);
	gap: 20px;
}

.menu-divider {
	height: 1px;
	background-color: #B9C1CB;
}

.menu-description {
	grid-row: 2 / 3;
	grid-column: 1 / 3;
	color: #474747;
	font-weight: 300;
}
