@media (max-width: 970px) {
    .width {
        width: 400px;
    }

    h2 {
        font-size: 56px;
    }
    
    h3 {
        font-size: 14px;
    }
    
    p,
    .standard {
        font-size: 20px;
    } 
    
    .phone-number {
        font-size: 48px;
    }

    .mobile-only {
        display: block;
    }

    /* Header */
    header {
        position: static;
        height: 150px;
        transition: none;

        display: grid;
        place-items: center;
    }
    
    .box-shadow {
        box-shadow: none;
    }
    
    .header-content {
        margin: 0;

        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .divider {
        height: 1px;
        width: 100%;
        background-color: white;
    }

    .links {
        width: 100%;
        justify-content: space-evenly;
        gap: 0;
    }

    /* Hero */
    .hero {
        padding-top: calc(150px + 25px);
        margin-top: -150px;
    }

    .hero-content {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        justify-items: center;
    }

    .hero-image {
        aspect-ratio: 1.5;
        grid-row: 2 / 3;
    }

    .order-now {
        margin-bottom: 0;
    }

    .order-online {
        width: 100%;
        height: 50px;
    }
    
    .fa-phone {
        font-size: 36px;
    }

    /* About */
    .about-content {
        --about-image-width: 400px;

        gap: 25px;
    }

    .about-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        aspect-ratio: 2;
    }

    .hours-image {
        display: none;
    }

    .hours-content {
        width: 300px;
    }

    /* Menu */
    .menu-wrapper {
        grid-template-rows: auto auto !important;
        margin-top: 25px !important;
    }

    .menu.width {
        width: 90vw;
    }

    .menu-category h2 {
        font-size: 32px;
    }

    .food-row p {
        font-size: 20px !important;
    }

    .small-text {
        font-size: 14px;
    }

    .price-wrapper-sml {
        grid-template-columns: repeat(3, 50px) !important;
        gap: 5px !important;
    }

    .price-wrapper {
        grid-template-columns: repeat(2, 50px) !important;
        gap: 5px !important;
    }

    .price-wrapper-specialty {
        grid-template-columns: repeat(2, 50px);
        gap: 5px !important;
    }

    .food-row {
        grid-template-columns: auto 1fr max-content !important;
    }

    .fake-row {
        margin-top: 0 !important;
    }

    .menu-description {
        font-size: 12px !important;
        grid-column: 1 / 4 !important;
    }

    .food-row p, .food-item {
        font-size: 14px !important;
    }

    .small-red {
        font-size: 12px;
    }

    .topping-item {
        font-size: 12px !important;
    }

    .toppings-container {
        flex-direction: column;
    }

    .toppings-list {
        column-gap: 25px;
    }

    /* Menu Navbar */
    .nav-bar {
        padding-top: 49px !important;
    }

    .bars-wrapper, .close-wrapper {
        top: 25px;
    }
}

@media (max-width: 430px) {
    .width {
        width: 350px;
    }

    h2 {
        font-size: 50px;
    }

    .phone-number {
        font-size: 40px;
    }

    .hero {
        --hero-image-width: 350px;
    }

    .hero-content {
        gap: 15px;
    }

    .about-para {
        font-size: 18px;
    }

    .about-content {
        --about-image-width: 350px;
    }
}

@media (max-width: 1500px) {
    .nav-bar {
        left: 0;
        -webkit-backdrop-filter: blur(10px) !important;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.2);
        padding-top: 224px;
        padding-left: 90px;
        border-right: 3px solid var(--red);
    }

    .nav-bar::before {
        display: none;
    }

    .menu-nav-link::after {
        display: none !important;
    }

    .grid {
        display: grid !important;
    }

    .hide-mobile {
        display: none !important;
    }
}

@media (max-width: 550px) {
    .nav-bar {
        border-right: none !important;
        width: 100vw !important;
    }

    .toppings-list {
        grid-template-columns: repeat(2, max-content);
        column-gap: 25px;
        width: max-content;
    }
}
